h1 {
	font-family: 'Pacifico';
	font-size: 112px;
	text-align: center;
}

#title {
	font-size: 136px;
}

h2 {
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	text-align: center;
}

.image {
	margin-top: 40px;
	background-color: black;
	min-height: 400px; 
}

.col-sm-6 {
	margin:0px;
}

.img-responsive {
	margin:0px;
}


.text {
	margin-top: 40px;
	margin-bottom: 40px;
}

#qt {
	font-family: 'Dekko';
}

li {
	list-style-type: none;
	font-size: 20px;
	margin-top:5px;
	font-family: 'Open Sans', sans-serif;
}



h3 {
	font-family:'Pacifico';
	text-align: right;
	margin-right:20px;
}


.logo {
	width:200px;
	height:200px;
}
